{% extends 'layouts/base.njk' %}
{% set pageType = 'Project Archive' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# Post list content #}
{% set projectListHeading = 'All projects' %}
{% set projectListitems = collections.projects %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/project-list.njk" %}
  </main>
{% endblock %}
